
.screen-wrapper {
  border: 5px solid #e9ecef;
  border-radius: 2px;
  background: rgb(155, 188, 15);
}

.screen-canvas {
  width: 256px;
  height: 224px;
}

.code-wrapper {
  height: 300px;
  overflow-y: scroll;
}
